<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <!-- Tests run ONLY against the dedicated testing database on the MariaDB 10.11.19 -->
        <!-- "mariadb-test" service (see docker-compose.yml / .env.testing). tests/bootstrap.php and -->
        <!-- Tests\TestCase refuse to run if the name does not end in "_testing" or the server is not MariaDB 10.11.19. -->
        <server name="DB_CONNECTION" value="mysql"/>
        <server name="DB_HOST" value="mariadb-test"/>
        <server name="DB_DATABASE" value="akademija_testing"/>
        <server name="FILESYSTEM_DRIVER" value="public"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
